.container {
  height: 20%;
  border: 2px solid rgb(95, 65, 65);
  border-radius: 10%;
  box-shadow: 20px 20px 50px rgb(199, 198, 198);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10%;
}

.image {
  border-radius: 50%;
  margin: 10px;
}

.text {
  line-height: 1.5;
}

.name {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10%;
}

.house {
  font-size: 15px;
  line-height: 2;
}
